full_data
full_data2
images
ocese-tasks-eosc372.docx
egeotraces_dash/.idea
egeotraces_dash/etc
egeotraces_dash/Include
egeotraces_dash/Lib
egeotraces_dash/Scripts
egeotraces_dash/share
egeotraces_dash/__pycache__